body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    width: 100%;
}

.transaction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}

.card {
    margin-top: 20px; /* Adjust as needed */
}
